*.log

# Pycharm specific
.idea

# Python specific
__pycache__

# Docs
docs/_build

# PCBOT specific
config
plugins/osulib/mapcache
plugins/osulib/mapdatacache
plugins/osulib/setdatacache
plugins/nltk_data

# Additional executable files
*.bat
*.sh
*.xsh
*.osu
*.osr
